
.wrapper {
	position: relative;
	min-height: 100%;
}

.block {
	padding: 15px;
	background-color: rgba(67, 47, 10, 0.401);
	min-height: 2700px;
}

.page__container {
	width: 1000px;
	margin: 0 auto;
}

.block__body-1 {
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-1 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: translate(50%, 50%);
}

.block__body-2 {
	position: relative;
	top: 150px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-2 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: translate(20px, 20px);
}

.block__body-3 {
	position: relative;
	top: 200px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
	overflow: hidden;
}

.block__item-3 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: translate(100%, 0%);
	transition: all 0.3s ease 0s;
}

.block__body-3:hover .block__item-3 {
	transform: translate(0px,0px);
}

.block__body-4 {
	position: relative;
	top: 250px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-4 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: scale(0.5);
}

.block__body-5 {
	position: relative;
	top: 300px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-5 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: rotate(0deg);
	transition: all 0.3s ease 0s;
}

.block__item-5:hover {
	transform: rotate(180deg);
}

.block__body-6 {
	position: relative;
	top: 350px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-6 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: skew(0deg,0deg);
	transition: all 0.5s ease 0s;
}

.block__item-6:hover {
	transform: skew(10deg, 10deg);
}

.block__body-7 {
	position: relative;
	top: 400px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-7 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: translate(10%, 10%) scale(1) rotate(5deg) skew(5deg,5deg);
}

.block__body-8 {
	position: relative;
	top: 450px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
}

.block__item-8 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform-origin: bottom left;
	transform: rotate(20deg);
}

.block__body-9 {
	position: relative;
	top: 550px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.682);
	perspective: 400px;
	perspective-origin: center;
}

.block__item-9 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: rotateY(40deg);
}

.block__body-10 {
	position: relative;
	top: 600px;
	width: 200px;
	height: 200px;
	background-color: rgba(82, 132, 126, 0.418);
	perspective: 300px;
	transform-style: preserve-3d;
}

.block__item-10 {
	width: 200px;
	height: 200px;
	background-color: rgb(4, 181, 187);
	transform: rotateY(360deg);
	transition: all 1s ease 0s;
}

.block__body-10:hover .block__item-10 {
	transform: rotateY(0deg);
}

.page__block-1 {
	min-height: 800px;
	background-image: url('../img/image.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.page__solar-system {
	position: relative;
	/*top: 0px;
	left: 0px;
	width: 350px;
   min-height: 230px;*/
}

.solar-system__sun {
	top: 20px;
	left: 20px;
	width: 200px;
   height: 200px;
	background: url('../img/sun.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.solar-system__planet-1 {
	top: 200px;
	left: 200px;
	width: 80px;
   height: 80px;
	background: url('../img/planet_1.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.solar-system__planet-2 {
	top: 250px;
	left: 340px;
	width: 80px;
   height: 90px;
	background: url('../img/planet_2.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}
.solar-system__planet-3 {
	top: 330px;
	left: 510px;
	width: 80px;
   height: 90px;
	background: url('../img/planet_3.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}
.solar-system__planet-4 {
	top: 420px;
	left:770px;
	width: 80px;
   height: 90px;
	background: url('../img/planet_4.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}
.solar-system__planet-5 {
	top: 470px;
	left:920px;
	width: 100px;
   height: 100px;
	background: url('../img/planet_5.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}
.solar-system__planet-6 {
	top: 540px;
	left:1060px;
	width: 120px;
   height: 120px;
	background: url('../img/planet_6.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}
.solar-system__planet-7 {
	top: 600px;
	left:1250px;
	width: 120px;
   height: 120px;
	background: url('../img/planet_7.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.page__block-1:hover .solar-system__sun {
	transform: scale(1.4) rotate(360deg);
	transition: all 4s ease 0s;
}
.page__block-1:hover .solar-system__planet-1,
.page__block-1:hover .solar-system__planet-3,
.page__block-1:hover .solar-system__planet-5,
.page__block-1:hover .solar-system__planet-7 {
	transform: translate(-150px, 150px) rotate(360deg);
	transition: all 20s ease 0s;
}

.page__block-1:hover .solar-system__planet-2,
.page__block-1:hover .solar-system__planet-4,
.page__block-1:hover .solar-system__planet-6 {
	transform: translate(150px, -150px) rotate(360deg);
	transition: all 20s ease 0s;
}

.solar-system__star {
	top: 400px;
	left: 300px;
	width: 80px;
   height: 100px;
	background: url('../img/star.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.solar-system__comet {
	top: 100px;
	left: 900px;
	width: 80px;
   height: 100px;
	background: url('../img/comet.png') 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
}

.page__block-1:hover .solar-system__comet {
	transform: skew(-40deg);
	transition: all 4s ease 0s;
}

.page__block-1:hover .solar-system__star {
	transform: scale(2);
	transform: translate(-200px, 200px);
	transition: all 20s ease 0s;
}
